c2pa-python/
rustup-init.exe
.venv/
__pycache__/
tests/processed_files/
tests/processed_files/*
metadata_modifier/__pycache__/
certs/
certs/*
c2pa_utils.log
Video-Verify-Metadata.code-workspace
.env
.flaskenv
production.env
dev.env
AWS-Configs/
app/prod.env
/app/certs/
/app/certs/*
*.code-workspace
app/prod.env
